.homeScreenChild {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: calc(50% - 720px);
  background-color: var(--purple-3);
  width: 1440px;
  height: 678px;
}
.icon {
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 337px;
<<<<<<< HEAD
=======
  height: 216px;

>>>>>>> Incoming
  overflow: hidden;
}
<<<<<<< HEAD
.icon,
.icon1,
.parent {
=======
.icon1 {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  height: 216px;
}
.icon1 {
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 351.4px;
  width: 345.7px;
<<<<<<< HEAD
=======
  height: 216px;

>>>>>>> Incoming
  overflow: hidden;
}
.parent {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 362px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 697.1px;
<<<<<<< HEAD
=======
  height: 216px;

>>>>>>> Incoming
}
.ifYouAre,
.signInToInteract {
  position: absolute;
  top: 86px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  width: 706px;
}
.ifYouAre {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 222px;
  left: 1px;
<<<<<<< HEAD
=======
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;

>>>>>>> Incoming
  white-space: pre-wrap;
<<<<<<< HEAD
=======
  display: inline-block;
  width: 706px;

>>>>>>> Incoming
}
.hobby {
  color: var(--blue-1);
}
.passion {
  color: var(--primary-full);
}
.exploreYourHobbyContainer {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  font-size: var(--font-size-17xl);
  letter-spacing: 0.02em;
  display: inline-block;
  font-weight: 600;
  width: 580px;
}
.groupParent,
.signInToInteractWithAComParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 707px;
  height: 282px;
}
.groupParent {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 100px;
  left: 100px;
<<<<<<< HEAD
=======
  width: 707px;

>>>>>>> Incoming
  height: 578px;
}
.groupChild,
.signIn {
  position: absolute;
<<<<<<< HEAD
  left: 0;
}
.signIn {
  top: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  font-weight: 600;
}
.groupChild {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 32px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 69px;
  height: 2px;
  display: none;
}
.signInParent {
  width: 69px;
  position: relative;
  height: 30px;
}
.groupItem {
  position: absolute;
  top: 32px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 67px;
  height: 2px;
}
.joinInParent {
  width: 67px;
  position: relative;
  height: 34px;
  color: var(--primary-full);
}
.signinjoinin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.googleIcon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.continueWithGoogle {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.loginWithOtherAccounts {
  border-radius: var(--br-5xs);
  background-color: var(--purple-3);
  border: 1px solid var(--primary-full);
  overflow: hidden;
<<<<<<< HEAD
=======
  display: flex;

>>>>>>> Incoming
  flex-direction: row;
<<<<<<< HEAD
=======
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
  padding: var(--padding-xs) var(--padding-109xl) var(--padding-xs)
    var(--padding-5xl);
  gap: var(--gap-69xl);
}
.loginWithOtherAccounts,
.loginWithOtherAccounts1,
.loginWithOtherAccountsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.loginWithOtherAccounts1 {
  border-radius: var(--br-5xs);
  background-color: var(--purple-3);
  border: 1px solid var(--primary-full);
  overflow: hidden;
<<<<<<< HEAD
=======
  display: flex;

>>>>>>> Incoming
  flex-direction: row;
<<<<<<< HEAD
=======
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
  padding: var(--padding-xs) var(--padding-100xl) var(--padding-xs)
    var(--padding-5xl);
  gap: var(--gap-60xl);
}
.loginWithOtherAccountsParent {
<<<<<<< HEAD
=======
  display: flex;

>>>>>>> Incoming
  flex-direction: column;
<<<<<<< HEAD
=======
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
  gap: var(--gap-base);
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  font-size: var(--text-sm-semibold-size);

>>>>>>> Incoming
}
<<<<<<< HEAD
.connectWithSeparatorChild,
.connectWithSeparatorItem {
=======
.connectWithSeparatorChild {

>>>>>>> Incoming
  position: absolute;
  height: 12.5%;
  width: 36.34%;
  top: 50%;
  right: 63.66%;
  bottom: 37.5%;
<<<<<<< HEAD
  left: 0;
=======
  left: 0%;

>>>>>>> Incoming
  background-color: var(--grey-light);
}
.connectWithSeparatorItem {
<<<<<<< HEAD
=======
  position: absolute;
  height: 12.5%;

>>>>>>> Incoming
  width: 36.1%;
<<<<<<< HEAD
  right: 0;
=======
  top: 50%;
  right: 0%;
  bottom: 37.5%;

>>>>>>> Incoming
  left: 63.9%;
<<<<<<< HEAD
=======
  background-color: var(--grey-light);

>>>>>>> Incoming
}
.orConnectWith {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0%;

>>>>>>> Incoming
  left: 38.29%;
  line-height: 16px;
  font-weight: 600;
}
.connectWithSeparator {
  width: 410px;
  position: relative;
  height: 16px;
  color: var(--base-black);
}
.email {
  position: relative;
  line-height: 16px;
}
<<<<<<< HEAD
.inputFields,
.passwordParent {
=======
.inputFields {

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--grey-lighter);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-346xl) var(--padding-xs)
    var(--padding-xs);
}
.passwordParent {
  position: absolute;
  height: 66.67%;
  width: 100%;
<<<<<<< HEAD
  top: 0;
  right: 0;
=======
  top: 0%;
  right: 0%;

>>>>>>> Incoming
  bottom: 33.33%;
<<<<<<< HEAD
  left: 0;
=======
  left: 0%;
  border-radius: var(--br-5xs);
  background-color: var(--base-white);
  border: 1px solid var(--grey-lighter);

>>>>>>> Incoming
  box-sizing: border-box;
<<<<<<< HEAD
=======
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

>>>>>>> Incoming
  padding: var(--padding-xs);
  gap: var(--gap-293xl);
}
<<<<<<< HEAD
.groupChild1,
.groupInner,
.rectangleDiv {
=======
.groupInner {

>>>>>>> Incoming
  position: absolute;
  height: 25%;
  width: 14.63%;
  top: 37.5%;
  right: 85.37%;
  bottom: 37.5%;
<<<<<<< HEAD
  left: 0;
=======
  left: 0%;

>>>>>>> Incoming
  border-radius: var(--br-11xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
}
.groupChild1,
.rectangleDiv {
<<<<<<< HEAD
=======
  position: absolute;
  height: 25%;
  width: 14.63%;
  top: 37.5%;

>>>>>>> Incoming
  right: 70.24%;
<<<<<<< HEAD
=======
  bottom: 37.5%;

>>>>>>> Incoming
  left: 15.12%;
<<<<<<< HEAD
=======
  border-radius: var(--br-11xs);
  background-color: var(--base-white);

>>>>>>> Incoming
}
.groupChild1 {
<<<<<<< HEAD
=======
  position: absolute;
  height: 25%;
  width: 14.63%;
  top: 37.5%;

>>>>>>> Incoming
  right: 55.12%;
<<<<<<< HEAD
=======
  bottom: 37.5%;

>>>>>>> Incoming
  left: 30.24%;
<<<<<<< HEAD
=======
  border-radius: var(--br-11xs);
  background-color: var(--base-white);

>>>>>>> Incoming
}
.passwordStrength {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0%;

>>>>>>> Incoming
  left: 76.59%;
  line-height: 16px;
  font-weight: 600;
}
.rectangleParent {
  position: absolute;
  height: 26.67%;
  width: 100%;
  top: 73.33%;
<<<<<<< HEAD
  right: 0;
  bottom: 0;
  left: 0;
=======
  right: 0%;
  bottom: 0%;
  left: 0%;

>>>>>>> Incoming
  font-size: var(--font-size-3xs);
  color: var(--grey-dark);
}
.component7 {
  width: 410px;
  position: relative;
  height: 60px;
  color: var(--grey1);
}
.inputFieldsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.termsOfService {
  color: var(--grey-darkest);
}
.byContinuingYouContainer {
  width: 402px;
  position: relative;
  display: inline-block;
}
.buttons {
  border-radius: var(--br-5xs);
  background-color: var(--primary-full);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-114xl-5);
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
  color: var(--white);
=======
  font-size: var(--text-sm-semibold-size);
  color: var(--base-white);

>>>>>>> Incoming
}
<<<<<<< HEAD
.byContinuingYouAgreeToOuParent,
.frameGroup,
.frameParent,
.joinInForm {
=======
.byContinuingYouAgreeToOuParent {

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  color: var(--grey-darker);
}
<<<<<<< HEAD
.frameGroup,
.frameParent,
.joinInForm {
=======
.frameGroup {
  display: flex;
  flex-direction: column;

>>>>>>> Incoming
  align-items: flex-start;
  justify-content: flex-start;
<<<<<<< HEAD
=======
  gap: var(--gap-xs);

>>>>>>> Incoming
  color: var(--grey-dark);
}
<<<<<<< HEAD
.frameParent,
.joinInForm {
=======
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
  gap: var(--gap-9xl);
  font-size: var(--font-size-xs);
  color: var(--grey-darkest);
}
.joinInForm {
  position: absolute;
  top: 103px;
  left: 930px;
<<<<<<< HEAD
=======
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
  gap: var(--gap-13xl);
  font-size: var(--font-size-xl);
  color: var(--grey-dark);
}
.feature1Child,
.groupChild2,
.homeScreen {
  position: absolute;
  top: 80px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 1440px;
  height: 678px;
}
<<<<<<< HEAD
.feature1Child,
.groupChild2 {
  top: 0;
  background-color: var(--white);
=======
.feature1Child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--base-white);
  width: 1440px;

>>>>>>> Incoming
  height: 818px;
}
.groupChild2 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  width: 608px;
  height: 297px;
}
.people {
  position: absolute;
  top: 2px;
  left: 64px;
  font-weight: 600;
}
.groupsBlack24dp11Parent {
  position: absolute;
  top: 40px;
  left: 44px;
  width: 147px;
  height: 40px;
}
.findATeacher {
  position: absolute;
  top: 104px;
  left: 44px;
  font-size: var(--font-size-lg);
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 520px;
}
.connect {
  position: absolute;
  top: 12px;
  left: 30px;
  line-height: 16px;
  font-weight: 600;
}
.connectWrapper {
  position: absolute;
  top: 217px;
  left: 44px;
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
  width: 122px;
  height: 40px;
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  font-size: var(--text-sm-semibold-size);

>>>>>>> Incoming
  color: var(--primary-full);
}
<<<<<<< HEAD
.rectangleGroup,
.shoppingBasketBlack24dp2Icon {
=======
.rectangleGroup {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 608px;
  height: 297px;
}
.shoppingBasketBlack24dp2Icon {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.shoppingBasketBlack24dp2Parent {
  position: absolute;
  top: 40px;
  left: 44px;
  width: 160px;
  height: 40px;
}
.getIt {
  position: absolute;
  top: 12px;
  left: 42px;
  line-height: 16px;
  font-weight: 600;
}
.rectangleContainer {
  position: absolute;
  top: 321px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 608px;
  height: 297px;
}
.locationOnBlack24dp1Parent {
  position: absolute;
  top: 40px;
  left: 44px;
  width: 131px;
  height: 40px;
}
.meetUpWrapper {
  position: absolute;
  top: 217px;
  left: 44px;
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-13xl);
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  font-size: var(--text-sm-semibold-size);

>>>>>>> Incoming
  color: var(--primary-full);
}
.groupDiv {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 632px;
  width: 608px;
  height: 297px;
}
.eventAvailableBlack24dp2Parent {
  position: absolute;
  top: 40px;
  left: 44px;
  width: 171px;
  height: 40px;
}
.attend {
  position: absolute;
  top: 12px;
  left: 37px;
  line-height: 16px;
  font-weight: 600;
}
.groupContainer,
.rectangleParent1 {
  position: absolute;
  top: 321px;
  left: 632px;
  width: 608px;
  height: 297px;
}
.groupContainer {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 100px;
  left: 100px;
  width: 1240px;
  height: 618px;
}
<<<<<<< HEAD
.feature1,
.groupChild6 {
=======
.feature1 {

>>>>>>> Incoming
  position: absolute;
  left: 0;
}
.feature1 {
  top: 758px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  width: 1440px;
  height: 818px;
  font-size: var(--font-size-5xl);
}
.groupChild6 {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  width: 1240px;
  height: 330px;
}
.areYouA {
  position: absolute;
  top: 174px;
  left: 40px;
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 1160px;
}
.addYourOwn {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 70px;
  font-weight: 600;
}
<<<<<<< HEAD
.addIcon,
.addYourOwnParent {
=======
.addIcon {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
=======
  top: 0px;
  left: 0px;
  width: 54px;

>>>>>>> Incoming
  height: 54px;
}
.addIcon {
  top: 0;
  left: 0;
  width: 54px;
  overflow: hidden;
}
.addYourOwnParent {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 40px;
  left: 459px;
  width: 322px;
<<<<<<< HEAD
=======
  height: 54px;

>>>>>>> Incoming
  font-size: var(--font-size-17xl);
}
.addNew {
  position: absolute;
  top: 12px;
  left: 29px;
  line-height: 16px;
  font-weight: 600;
}
.addNewWrapper {
  position: absolute;
  top: 250px;
  left: 40px;
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
  width: 122px;
  height: 40px;
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  font-size: var(--text-sm-semibold-size);

>>>>>>> Incoming
  color: var(--primary-full);
}
.rectangleParent2 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 1240px;
  height: 330px;
}
.groupChild7,
.testimonials {
  position: absolute;
  left: 0;
  background-color: var(--white);
}
.testimonials {
  top: 1560px;
<<<<<<< HEAD
=======
  left: 0px;
  background-color: var(--base-white);

>>>>>>> Incoming
  width: 1440px;
  height: 530px;
  font-size: var(--font-size-lg);
  color: var(--grey-darkest);
}
.groupChild7 {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  width: 1240px;
  height: 284px;
}
.areYouA1 {
  position: absolute;
  top: 112px;
  left: 40px;
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 1160px;
}
.addNewContainer,
.addYourOwnGroup {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 232px;
  height: 40px;
  font-size: var(--font-size-5xl);
}
.addNewContainer {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 204px;
<<<<<<< HEAD
=======
  left: 40px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
  width: 122px;
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  height: 40px;
  font-size: var(--text-sm-semibold-size);

>>>>>>> Incoming
  color: var(--primary-full);
}
.rectangleParent3 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 1240px;
  height: 284px;
}
.testimonials1 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 1576px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--blue-2);
  width: 1440px;
  height: 484px;
  font-size: var(--font-size-lg);
  color: var(--grey-darkest);
}
<<<<<<< HEAD
.endChild,
.icon2,
.testimonials1 {
=======
.endChild {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  left: 0;
}
.endChild {
  top: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  background-color: var(--blue-2);
  width: 1440px;
  height: 662px;
}
.icon2 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 21px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  width: 531px;
  height: 280px;
  overflow: hidden;
}
.group,
.icon3 {
  position: absolute;
<<<<<<< HEAD
  height: 302px;
}
.icon3 {
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 602px;
  width: 638px;
<<<<<<< HEAD
=======
  height: 302px;

>>>>>>> Incoming
  overflow: hidden;
}
.group {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 330px;
  left: 100px;
  width: 1240px;
<<<<<<< HEAD
=======
  height: 302px;

>>>>>>> Incoming
}
.yourHobbyYourContainer {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  font-weight: 500;
}
.groupChild8 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--primary-full);
  width: 147px;
  height: 46px;
}
.getStarted {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 600;
}
.rectangleParent4 {
  position: absolute;
  top: 84px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 147px;
  height: 46px;
  font-size: var(--font-size-xl);
<<<<<<< HEAD
  color: var(--white);
=======
  color: var(--base-white);

>>>>>>> Incoming
}
.yourHobbyYourCommunityParent {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 565px;
  height: 130px;
}
<<<<<<< HEAD
.end,
.footerChild {
=======
.end {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  left: 0;
=======
  top: 2729px;
  left: 0px;

>>>>>>> Incoming
  width: 1440px;
}
.end {
  top: 2729px;
  height: 662px;
  font-size: var(--font-size-17xl);
}
.footerChild {
<<<<<<< HEAD
  top: 0;
  background-color: var(--white);
=======
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--base-white);
  width: 1440px;

>>>>>>> Incoming
  height: 380px;
}
<<<<<<< HEAD
.blogPosts,
.listings,
.quickLinks,
.shopStore {
=======
.quickLinks {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  letter-spacing: 0.01em;
  line-height: 18px;
}
<<<<<<< HEAD
.blogPosts,
.listings,
.shopStore {
=======
.listings {
  position: absolute;

>>>>>>> Incoming
  top: 34px;
<<<<<<< HEAD
=======
  left: 0px;
  letter-spacing: 0.01em;
  line-height: 18px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.blogPosts,
.shopStore {
=======
.blogPosts {
  position: absolute;

>>>>>>> Incoming
  top: 60px;
<<<<<<< HEAD
=======
  left: 0px;
  letter-spacing: 0.01em;
  line-height: 18px;

>>>>>>> Incoming
}
.shopStore {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 86px;
<<<<<<< HEAD
=======
  left: 0px;
  letter-spacing: 0.01em;
  line-height: 18px;

>>>>>>> Incoming
}
.quickLinksParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 580px;
  width: 87px;
  height: 130px;
}
.contactUs,
.faq {
  position: absolute;
  top: 112px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  letter-spacing: 0.01em;
  line-height: 18px;
}
.contactUs {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 138px;
<<<<<<< HEAD
=======
  left: 0px;
  letter-spacing: 0.01em;
  line-height: 18px;

>>>>>>> Incoming
}
.hobbycueParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 90px;
  height: 156px;
}
.otherQueries {
  position: absolute;
  top: 164px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  letter-spacing: 0.01em;
  line-height: 18px;
}
.howDoIParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 280px;
  width: 110px;
  height: 182px;
}
.groupChild10,
.groupChild9 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  height: 40px;
}
.groupChild9 {
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
  width: 360px;
<<<<<<< HEAD
=======
  height: 40px;

>>>>>>> Incoming
}
.groupChild10 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 301px;
<<<<<<< HEAD
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
=======
  border-radius: 0px var(--br-5xs) var(--br-5xs) 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 59px;
<<<<<<< HEAD
=======
  height: 40px;

>>>>>>> Incoming
}
.emailId,
.invite {
  position: absolute;
  top: 12px;
  line-height: 16px;
}
.invite {
  left: 313px;
  letter-spacing: 0.01em;
<<<<<<< HEAD
=======
  line-height: 16px;

>>>>>>> Incoming
  font-weight: 600;
}
.emailId {
<<<<<<< HEAD
=======
  position: absolute;
  top: 12px;

>>>>>>> Incoming
  left: 16px;
<<<<<<< HEAD
=======
  line-height: 16px;

>>>>>>> Incoming
  color: var(--grey-dark);
}
.rectangleParent5 {
  position: absolute;
  top: 34px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 360px;
  height: 40px;
  font-size: var(--font-size-xs);
<<<<<<< HEAD
  color: var(--white);
=======
  color: var(--base-white);

>>>>>>> Incoming
}
.inviteFriendsParent {
  position: absolute;
  top: 108px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 360px;
  height: 74px;
}
.groupChild11,
.groupChild12,
.groupChild13,
.groupIcon {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 48px;
  width: 24px;
  height: 24px;
}
<<<<<<< HEAD
.groupChild11,
.groupChild12,
.groupChild13 {
  left: 0;
=======
.groupChild11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.groupChild12,
.groupChild13 {
=======
.groupChild12 {
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 96px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;

>>>>>>> Incoming
}
.groupChild13 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 144px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.groupChild14,
.groupChild15,
.groupChild16,
.groupChild17 {
=======
.groupChild14 {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 192px;
  width: 24px;
  height: 24px;
}
<<<<<<< HEAD
.groupChild15,
.groupChild16,
.groupChild17 {
=======
.groupChild15 {
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 240px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.groupChild16,
.groupChild17 {
=======
.groupChild16 {
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 288px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;

>>>>>>> Incoming
}
.groupChild17 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 336px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.groupParent3,
.socialMediaParent {
=======
.groupParent3 {

>>>>>>> Incoming
  position: absolute;
  top: 34px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 360px;
  height: 24px;
}
.socialMediaParent {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;

>>>>>>> Incoming
  height: 58px;
}
.groupChild18,
.groupParent1,
.groupParent2 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 857px;
  width: 360px;
  height: 182px;
}
.groupChild18,
.groupParent1 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 60px;
  left: 102px;
  width: 1217px;
<<<<<<< HEAD
=======
  height: 182px;

>>>>>>> Incoming
}
.groupChild18 {
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  background-color: var(--purple-3);
  width: 1440px;
  height: 78px;
}
.purpleCuesPrivate {
  position: absolute;
  top: 30px;
  left: 615px;
  letter-spacing: 0.01em;
  line-height: 18px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.rectangleParent6 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 302px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  width: 1440px;
  height: 78px;
}
<<<<<<< HEAD
.footer,
.groupChild19,
.rectangleParent6 {
=======
.footer {

>>>>>>> Incoming
  position: absolute;
  left: 0;
}
.footer {
  top: 3391px;
<<<<<<< HEAD
  background-color: var(--white);
=======
  left: 0px;
  background-color: var(--base-white);

>>>>>>> Incoming
  width: 1440px;
  height: 380px;
  color: var(--grey-darkest);
}
.groupChild19 {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--purple-3);
  width: 1240px;
  height: 472px;
}
<<<<<<< HEAD
.quoteIcon,
.testimonialsParent {
=======
.quoteIcon {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;
  width: 40px;

>>>>>>> Incoming
  height: 40px;
}
.quoteIcon {
  width: 40px;
  overflow: hidden;
  object-fit: contain;
}
.testimonialsParent {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 221px;
<<<<<<< HEAD
=======
  height: 40px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.groupWrapper,
.inAFast {
=======
.groupWrapper {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
=======
  top: 40px;

>>>>>>> Incoming
  left: 40px;
}
.groupWrapper {
  top: 40px;
  width: 221px;
  height: 40px;
  font-size: var(--font-size-5xl);
  color: var(--grey-darkest);
}
.inAFast {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 112px;
<<<<<<< HEAD
=======
  left: 40px;

>>>>>>> Incoming
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  color: var(--grey-darker);
  display: inline-block;
  width: 1160px;
}
.ellipseIcon {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.classicalDancer,
.shubhaNagarajan {
  position: absolute;
<<<<<<< HEAD
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  letter-spacing: 0.02em;
}
.shubhaNagarajan {
  top: 0;
  font-weight: 600;
}
.classicalDancer {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 31px;
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  left: 0px;
  font-size: var(--text-sm-semibold-size);
  letter-spacing: 0.02em;

>>>>>>> Incoming
  color: var(--blue-1);
}
.shubhaNagarajanParent {
  position: absolute;
  top: 24px;
  left: 124px;
  width: 180px;
  height: 52px;
}
.audioTrackChild,
.ellipseParent {
  position: absolute;
  top: 332px;
  left: 896px;
  width: 304px;
  height: 100px;
}
.audioTrackChild {
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--purple-2);
  width: 776px;
<<<<<<< HEAD
=======
  height: 100px;

>>>>>>> Incoming
}
.audioTrackItem {
  position: absolute;
  top: 30px;
  left: 32px;
  border-radius: 50%;
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  width: 40px;
  height: 40px;
}
.playArrowBlack24dp1Icon {
  position: absolute;
  top: 38px;
  left: 40px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.audioTrackInner {
  position: absolute;
  top: 49px;
  left: 118px;
  border-radius: var(--br-11xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  width: 468px;
  height: 2px;
}
.audioTrackChild1,
.ellipseDiv {
  position: absolute;
  border-radius: 50%;
}
.ellipseDiv {
  top: 44px;
  left: 112px;
<<<<<<< HEAD
=======
  border-radius: 50%;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 12px;
  height: 12px;
}
.audioTrackChild1 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 19px;
  left: 684px;
<<<<<<< HEAD
=======
  border-radius: 50%;

>>>>>>> Incoming
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.micBlack24dp1Icon {
  position: absolute;
  top: 47px;
  left: 672px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.div {
  position: absolute;
  top: 42px;
  left: 598px;
  line-height: 16px;
}
.audioTrack {
  position: absolute;
  top: 332px;
  left: 40px;
  width: 776px;
  height: 100px;
  font-size: var(--font-size-xs);
}
<<<<<<< HEAD
.rectangleParent7,
.testimonials2 {
=======
.rectangleParent7 {

>>>>>>> Incoming
  position: absolute;
  top: 100px;
  left: 100px;
  width: 1240px;
  height: 472px;
}
.testimonials2 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 2057px;
<<<<<<< HEAD
  left: 0;
  background-color: var(--white);
=======
  left: 0px;
  background-color: var(--base-white);

>>>>>>> Incoming
  width: 1440px;
  height: 672px;
  font-size: var(--font-size-lg);
  color: var(--primary-full);
}
.landingPageExploreListChild {
  position: absolute;
  top: 2912px;
  left: 1300px;
  width: 40px;
  height: 40px;
}
.landingPageExploreListItem {
  position: absolute;
  top: 80px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 1440px;
  height: 956px;
}
.peopleCommunity {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 18px;
}
<<<<<<< HEAD
.blogsWrapper,
.peopleCommunityWrapper,
.placesVenuesWrapper,
.productsStoreWrapper,
.programsEventsWrapper {
  background-color: var(--white);
=======
.peopleCommunityWrapper {
  background-color: var(--base-white);

>>>>>>> Incoming
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-42xl) var(--padding-xs)
    var(--padding-xs);
  z-index: 0;
}
<<<<<<< HEAD
.blogsWrapper,
.placesVenuesWrapper,
.productsStoreWrapper,
.programsEventsWrapper {
=======
.placesVenuesWrapper {
  background-color: var(--base-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

>>>>>>> Incoming
  padding: var(--padding-xs) var(--padding-75xl) var(--padding-xs)
    var(--padding-xs);
  z-index: 1;
}
.blogsWrapper,
.productsStoreWrapper,
.programsEventsWrapper {
<<<<<<< HEAD
=======
  background-color: var(--base-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

>>>>>>> Incoming
  padding: var(--padding-xs) var(--padding-59xl) var(--padding-xs)
    var(--padding-xs);
  z-index: 2;
}
.blogsWrapper,
.productsStoreWrapper {
<<<<<<< HEAD
=======
  background-color: var(--base-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

>>>>>>> Incoming
  padding: var(--padding-xs) var(--padding-74xl) var(--padding-xs)
    var(--padding-xs);
  z-index: 3;
}
.blogsWrapper {
<<<<<<< HEAD
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
=======
  border-radius: 0px 0px var(--br-9xs) var(--br-9xs);
  background-color: var(--base-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

>>>>>>> Incoming
  padding: var(--padding-xs) var(--padding-150xl) var(--padding-xs)
    var(--padding-xs);
  z-index: 4;
}
<<<<<<< HEAD
.exploreListChild,
.exploreListChild1,
.exploreListInner,
.exploreListItem {
=======
.exploreListChild {

>>>>>>> Incoming
  width: 220px;
  position: absolute;
  margin: 0 !important;
  top: 41px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--grey-light);
  height: 1px;
  z-index: 5;
}
.exploreListChild1,
.exploreListInner,
.exploreListItem {
<<<<<<< HEAD
=======
  width: 220px;
  position: absolute;
  margin: 0 !important;

>>>>>>> Incoming
  top: 83px;
<<<<<<< HEAD
=======
  left: 0px;
  background-color: var(--grey-light);
  height: 1px;

>>>>>>> Incoming
  z-index: 6;
}
.exploreListChild1,
.exploreListInner {
<<<<<<< HEAD
=======
  width: 220px;
  position: absolute;
  margin: 0 !important;

>>>>>>> Incoming
  top: 125px;
<<<<<<< HEAD
=======
  left: 0px;
  background-color: var(--grey-light);
  height: 1px;

>>>>>>> Incoming
  z-index: 7;
}
.exploreListChild1 {
<<<<<<< HEAD
=======
  width: 220px;
  position: absolute;
  margin: 0 !important;

>>>>>>> Incoming
  top: 167px;
<<<<<<< HEAD
=======
  left: 0px;
  background-color: var(--grey-light);
  height: 1px;

>>>>>>> Incoming
  z-index: 8;
}
.exploreList {
  position: absolute;
  top: 80px;
  left: 818px;
  box-shadow: var(--dropdown);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--grey-darker);
}
.navbarChild {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  box-shadow: var(--navbar);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  width: 1440px;
  height: 80px;
}
.hobbycueLogoV21 {
  position: absolute;
  top: 10px;
  left: 97px;
  width: 293.3px;
  height: 60px;
  object-fit: cover;
}
.groupChild20 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--grey-hover);
  border: 1px solid var(--grey-lighter);
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  mix-blend-mode: normal;
}
.searchHere {
  position: absolute;
  top: 12px;
  left: 12px;
  line-height: 16px;
  font-weight: 300;
}
<<<<<<< HEAD
.groupChild21,
.icons8Search1 {
=======
.groupChild21 {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
}
.groupChild21 {
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;
  border-radius: 0px var(--br-5xs) var(--br-5xs) 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 40px;
  height: 40px;
}
.icons8Search1 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 12px;
  left: 12px;
<<<<<<< HEAD
=======
  border-radius: 0px var(--br-5xs) var(--br-5xs) 0px;

>>>>>>> Incoming
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleParent8,
.rectangleParent9 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 260px;
  width: 40px;
  height: 40px;
}
.rectangleParent8 {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 20px;
  left: 425px;
  width: 300px;
<<<<<<< HEAD
=======
  height: 40px;

>>>>>>> Incoming
}
.explore {
  position: absolute;
  top: 1px;
  left: 28px;
  line-height: 22px;
  font-weight: 500;
}
<<<<<<< HEAD
.exploreIcon,
.icons8ExpandArrow1 {
=======
.exploreIcon {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icons8ExpandArrow1 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 83px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;
  overflow: hidden;

>>>>>>> Incoming
}
.exploreParent {
  position: absolute;
  top: 8px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 107px;
  height: 24px;
}
.hobbies {
  position: absolute;
  top: 2px;
  left: 28px;
  line-height: 22px;
  font-weight: 500;
}
.icons8ExpandArrow11 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 90px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.hobbiesChild {
  width: 19px;
  position: relative;
  height: 19px;
  z-index: 0;
}
.hobbiesItem {
  width: 12px;
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: 6px;
  border-radius: var(--br-12xs-4);
  height: 12px;
  z-index: 1;
}
<<<<<<< HEAD
.hobbies1,
.hobbiesParent {
=======
.hobbies1 {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
=======
  top: 0px;
  left: 0px;
  width: 24px;

>>>>>>> Incoming
  height: 24px;
}
.hobbies1 {
  top: 0;
  left: 0;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.hobbiesParent {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 8px;
  left: 131px;
  width: 114px;
<<<<<<< HEAD
=======
  height: 24px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.bookmarkBlack24dp1Icon,
.notificationsBlack24dp1Icon,
.product3Icon {
=======
.bookmarkBlack24dp1Icon {

>>>>>>> Incoming
  position: absolute;
  top: 8px;
  left: 269px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
<<<<<<< HEAD
.notificationsBlack24dp1Icon,
.product3Icon {
=======
.notificationsBlack24dp1Icon {
  position: absolute;
  top: 8px;

>>>>>>> Incoming
  left: 317px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;
  overflow: hidden;

>>>>>>> Incoming
}
.product3Icon {
<<<<<<< HEAD
=======
  position: absolute;
  top: 8px;

>>>>>>> Incoming
  left: 365px;
<<<<<<< HEAD
=======
  width: 24px;
  height: 24px;
  overflow: hidden;

>>>>>>> Incoming
}
.groupChild22 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
  width: 112px;
  height: 40px;
}
.signIn1 {
  position: absolute;
  top: 10px;
  left: 32px;
  line-height: 16px;
  font-weight: 600;
}
.groupFrame,
.groupParent4,
.navbar,
.rectangleParent10 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 112px;
  height: 40px;
}
<<<<<<< HEAD
.groupFrame,
.groupParent4,
.navbar {
=======
.groupFrame {
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 413px;
<<<<<<< HEAD
=======
  width: 112px;
  height: 40px;

>>>>>>> Incoming
  color: var(--primary-full);
}
<<<<<<< HEAD
.groupParent4,
.navbar {
=======
.groupParent4 {
  position: absolute;

>>>>>>> Incoming
  top: 20px;
  left: 815px;
  width: 525px;
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  height: 40px;
  font-size: var(--text-sm-semibold-size);

>>>>>>> Incoming
  color: var(--base-black);
}
.navbar {
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 1440px;
  height: 80px;
  font-size: var(--font-size-xs);
  color: var(--grey-dark);
}
.landingPageExploreList {
  width: 100%;
  position: relative;
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  height: 1036px;
  overflow: hidden;
  text-align: left;
<<<<<<< HEAD
  font-size: var(--text-sm-light-size);
=======
  font-size: var(--text-sm-semibold-size);

>>>>>>> Incoming
  color: var(--base-black);
<<<<<<< HEAD
  font-family: var(--text-sm-light);
=======
  font-family: var(--text-sm-semibold);

>>>>>>> Incoming
}
