.groupChild,
.signIn {
  position: absolute;
<<<<<<< HEAD
  left: 0;
}
.signIn {
  top: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  font-weight: 600;
}
.groupChild {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 26px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 55px;
  height: 2px;
  display: none;
}
.groupItem,
.signInParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 55px;
  height: 24px;
}
.groupItem {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 26px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 54px;
  height: 2px;
}
.groupContainer,
.joinInParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  height: 28px;
}
.joinInParent {
=======
  top: 0px;

>>>>>>> Incoming
  left: 95px;
  width: 54px;
<<<<<<< HEAD
=======
  height: 28px;

>>>>>>> Incoming
  color: var(--primary-full);
}
.groupContainer {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 82px;
  width: 149px;
<<<<<<< HEAD
=======
  height: 28px;

>>>>>>> Incoming
  font-size: var(--font-size-base);
}
.groupInner {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--grey-lighter);
  width: 312px;
  height: 32px;
}
.email {
  position: absolute;
  top: 8px;
  left: 12px;
  line-height: 16px;
}
.rectangleParent {
  position: absolute;
  top: 52px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
}
.visibilityBlack24dp1Icon {
  position: absolute;
  top: 8px;
  left: 284px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleGroup {
  position: absolute;
  top: 100px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
}
<<<<<<< HEAD
.groupChild1,
.groupChild2,
.groupChild3 {
=======
.groupChild1 {

>>>>>>> Incoming
  position: absolute;
  top: 6px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-11xs);
  background-color: var(--grey-lighter);
  width: 40px;
  height: 4px;
}
<<<<<<< HEAD
.groupChild2,
.groupChild3 {
=======
.groupChild2 {
  position: absolute;
  top: 6px;

>>>>>>> Incoming
  left: 44px;
<<<<<<< HEAD
=======
  border-radius: var(--br-11xs);
  background-color: var(--grey-lighter);
  width: 40px;
  height: 4px;

>>>>>>> Incoming
}
.groupChild3 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 6px;

>>>>>>> Incoming
  left: 88px;
<<<<<<< HEAD
=======
  border-radius: var(--br-11xs);
  background-color: var(--grey-lighter);
  width: 40px;
  height: 4px;

>>>>>>> Incoming
}
.passwordStrength {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 216px;
  line-height: 16px;
  font-weight: 600;
}
.rectangleContainer {
  position: absolute;
  top: 136px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 16px;
  font-size: var(--font-size-3xs);
}
.termsOfService {
  color: var(--grey-darkest);
}
.byContinuingYouContainer {
  position: absolute;
  top: 164px;
  left: 5px;
  font-size: var(--font-size-4xs);
  color: var(--grey-darker);
}
.groupChild4 {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--primary-full);
  width: 312px;
  height: 32px;
}
.continue {
  position: absolute;
  top: 8px;
  left: 127px;
  line-height: 16px;
  font-weight: 600;
}
.groupDiv {
  position: absolute;
  top: 188px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
<<<<<<< HEAD
  color: var(--white);
=======
  color: var(--base-white);

>>>>>>> Incoming
}
<<<<<<< HEAD
.groupChild5,
.groupChild6 {
=======
.groupChild5 {

>>>>>>> Incoming
  position: absolute;
  top: 8px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--grey-light);
  width: 100px;
  height: 2px;
}
.groupChild6 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 8px;

>>>>>>> Incoming
  left: 213px;
<<<<<<< HEAD
=======
  background-color: var(--grey-light);

>>>>>>> Incoming
  width: 99px;
<<<<<<< HEAD
=======
  height: 2px;

>>>>>>> Incoming
}
.orConnectWith {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 108px;
  line-height: 16px;
  font-weight: 600;
}
.groupChild7,
.rectangleParent1 {
  position: absolute;
<<<<<<< HEAD
  left: 0;
=======
  top: 244px;
  left: 0px;

>>>>>>> Incoming
  width: 312px;
}
.rectangleParent1 {
  top: 244px;
  height: 16px;
  color: var(--base-black);
}
.groupChild7 {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
<<<<<<< HEAD
=======
  width: 312px;

>>>>>>> Incoming
  height: 32px;
}
.continueWithGoogle {
  position: absolute;
  top: 8px;
  left: 90px;
  line-height: 16px;
  font-weight: 600;
}
.googleBrandBrandingLogoNetIcon {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleParent2 {
  position: absolute;
  top: 284px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
  color: var(--grey-darkest);
}
.continueWithFacebook {
  position: absolute;
  top: 8px;
  left: 82px;
  line-height: 16px;
  font-weight: 600;
}
.rectangleParent3 {
  position: absolute;
  top: 332px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
  color: var(--grey-darkest);
}
<<<<<<< HEAD
.groupParent,
.popupInner,
.popupNavBar {
=======
.groupParent {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 364px;
}
<<<<<<< HEAD
.popupInner,
.popupNavBar {
=======
.popupInner {
  position: absolute;

>>>>>>> Incoming
  top: 72px;
  left: 24px;
<<<<<<< HEAD
=======
  width: 312px;
  height: 364px;

>>>>>>> Incoming
}
.popupNavBar {
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 360px;
  height: 48px;
}
.popup {
  width: 100%;
  position: relative;
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--grey-dark);
<<<<<<< HEAD
  font-family: var(--text-sm-light);
=======
  font-family: var(--text-sm-semibold);

>>>>>>> Incoming
}
