.groupChild,
.signIn {
  position: absolute;
<<<<<<< HEAD
  left: 0;
}
.signIn {
  top: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  font-weight: 600;
}
.groupChild {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 26px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 55px;
  height: 2px;
}
.groupItem,
.signInParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 55px;
  height: 28px;
}
.groupItem {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  top: 26px;
<<<<<<< HEAD
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--primary-full);
  width: 54px;
  height: 2px;
  display: none;
}
.groupContainer,
.joinInParent {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 95px;
  width: 54px;
  height: 24px;
  color: var(--grey-dark);
}
.groupContainer {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 82px;
  width: 149px;
  height: 28px;
  font-size: var(--font-size-base);
  color: var(--primary-full);
}
.groupInner {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--grey-lighter);
  width: 312px;
  height: 32px;
}
.email {
  position: absolute;
  top: 8px;
  left: 12px;
  line-height: 16px;
}
.rectangleParent {
  position: absolute;
  top: 52px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
  color: var(--grey-dark);
}
.visibilityBlack24dp1Icon {
  position: absolute;
  top: 8px;
  left: 284px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleGroup {
  position: absolute;
  top: 100px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
  color: var(--grey-dark);
}
.checkboxChild {
<<<<<<< HEAD
=======
  position: absolute;

>>>>>>> Incoming
  height: 100%;
  width: 100%;
<<<<<<< HEAD
  right: 0;
  bottom: 0;
  left: 0;
=======
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;

>>>>>>> Incoming
  border-radius: var(--br-11xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
}
<<<<<<< HEAD
.checkbox,
.checkboxChild,
.rememberMe {
=======
.checkbox {

>>>>>>> Incoming
  position: absolute;
<<<<<<< HEAD
  top: 0;
}
.checkbox {
  left: 0;
=======
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 16px;
  height: 16px;
}
.rememberMe {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;

>>>>>>> Incoming
  left: 24px;
  line-height: 16px;
  display: inline-block;
  width: 92px;
}
<<<<<<< HEAD
.checkboxParent,
.lockBlack24dp1Icon {
=======
.checkboxParent {

>>>>>>> Incoming
  position: absolute;
  top: 148px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 116px;
  height: 16px;
}
.lockBlack24dp1Icon {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 16px;
<<<<<<< HEAD
=======
  height: 16px;

>>>>>>> Incoming
  overflow: hidden;
}
.forgotPassword {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 24px;
  line-height: 16px;
  display: inline-block;
  width: 109px;
}
.groupChild1,
.lockBlack24dp1Parent {
  position: absolute;
  top: 148px;
  left: 179px;
  width: 133px;
  height: 16px;
}
.groupChild1 {
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
  background-color: var(--primary-full);
  width: 312px;
  height: 32px;
}
.continue {
  position: absolute;
  top: 8px;
  left: 127px;
  line-height: 16px;
  font-weight: 600;
}
.rectangleContainer {
  position: absolute;
  top: 188px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
<<<<<<< HEAD
  color: var(--white);
=======
  color: var(--base-white);

>>>>>>> Incoming
}
<<<<<<< HEAD
.groupChild2,
.groupChild3 {
=======
.groupChild2 {

>>>>>>> Incoming
  position: absolute;
  top: 8px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  background-color: var(--grey-light);
  width: 100px;
  height: 2px;
}
.groupChild3 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 8px;

>>>>>>> Incoming
  left: 213px;
<<<<<<< HEAD
=======
  background-color: var(--grey-light);

>>>>>>> Incoming
  width: 99px;
<<<<<<< HEAD
=======
  height: 2px;

>>>>>>> Incoming
}
.orConnectWith {
  position: absolute;
<<<<<<< HEAD
  top: 0;
=======
  top: 0px;

>>>>>>> Incoming
  left: 108px;
  line-height: 16px;
  font-weight: 600;
}
.groupChild4,
.groupDiv {
  position: absolute;
  top: 244px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 16px;
}
.groupChild4 {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-5xs);
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
<<<<<<< HEAD
=======
  width: 312px;

>>>>>>> Incoming
  height: 32px;
}
.continueWithGoogle {
  position: absolute;
  top: 8px;
  left: 90px;
  line-height: 16px;
  font-weight: 600;
}
.googleBrandBrandingLogoNetIcon {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleParent1 {
  position: absolute;
  top: 284px;
<<<<<<< HEAD
  left: 0;
=======
  left: 0px;

>>>>>>> Incoming
  width: 312px;
  height: 32px;
  color: var(--grey-darkest);
}
.continueWithFacebook {
  position: absolute;
  top: 8px;
  left: 82px;
  line-height: 16px;
  font-weight: 600;
}
.groupParent,
.rectangleParent2 {
  position: absolute;
<<<<<<< HEAD
  left: 0;
=======
  top: 332px;
  left: 0px;

>>>>>>> Incoming
  width: 312px;
}
.rectangleParent2 {
  top: 332px;
  height: 32px;
  color: var(--grey-darkest);
}
.groupParent {
<<<<<<< HEAD
  top: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;
  width: 312px;

>>>>>>> Incoming
  height: 364px;
}
.popupNavBar,
.signInJoinInEmailPasswordInner {
  position: absolute;
  top: 72px;
  left: 24px;
  width: 312px;
  height: 364px;
}
.popupNavBar {
<<<<<<< HEAD
  top: 0;
  left: 0;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  width: 360px;
  height: 48px;
}
.signInJoinInEmailPassword {
  width: 100%;
  position: relative;
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--base-white);

>>>>>>> Incoming
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--base-black);
<<<<<<< HEAD
  font-family: var(--text-sm-light);
=======
  font-family: var(--text-sm-semibold);

>>>>>>> Incoming
}
